[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alexd1971
[access "refs/for/refs/*"]
	read = group user/alexd1971
	push = group user/alexd1971
	label-Code-Review = -2..+2 group user/alexd1971
	label-Verified = -1..+1 group user/alexd1971
	rebase = group user/alexd1971
	removeReviewer = group user/alexd1971
	submit = group user/alexd1971
[access "refs/heads/*"]
	read = group user/alexd1971
	create = group user/alexd1971
	push = +force group user/alexd1971
	pushMerge = group user/alexd1971
[access "refs/tags/*"]
	push = +force group user/alexd1971
	pushTag = group user/alexd1971
	pushSignedTag = group user/alexd1971
