html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

body {
line-height:1;
font:12px/18px Arial,sans-serif;
width:100%;
height:100%;
min-width:1000px;
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

html {
height:100%;
}

.clearfix:before,.clearfix:after {
content:" ";
display:table;
}

.clearfix:after {
clear:both;
}

.clearfix {
zoom:1;
}

.wrapper {
min-width:1000px;
max-width:1000px;
min-height:100%;
height:auto!important;
margin:0 auto;
}

.header {
margin-top:40px;
}

.content {
padding:0 12px 70px;
}

.content tr td {
margin-bottom:5px;
}

.cloud-tag {
background:#31B5C4;
margin-left:5px;
margin-bottom:3px;
}

#myCanvas2 {
background:#f39c12;
}

#myCanvas4 {
background:#9b59b6;
}

.border-left-blue {
border-left:4px solid;
border-left-color:#5bc0de;
}

.nav.user-list i {
font-size:18px;
display:inline-block;
}

.user .img-circle {
border:1px solid #f1f1f1;
}

.user .img-user {
float:left;
width:140px;
margin-right:25px;
position:relative;
}

.user .desc-user {
float:left;
width:220px;
}

.user .desc-user h2 {
font-size:16px;
word-wrap:break-word;
color:#16a085;
border-bottom:1px solid #ccc;
padding:0 0 10px;
}

.user .info-user {
color:#666;
padding:10px 0 4px;
}

.user .date-user {
color:#e67e22;
}

.user .phone-user,.mail-user {
padding:5px 0 0;
}

.user .phone-user i,.user .mail-user i {
color:#999;
padding-right:5px;
}

.user .text-user {
clear:both;
color:#666;
padding-top:10px;
}

.user .stat-user {
position:absolute;
left:0;
bottom:0;
background:#1abc9c;
color:#fff;
padding:5px 15px;
}

.event-table {
padding-top:15px;
clear:both;
}

.label {
font-size:90%;
}

.content p {
margin-bottom:10px;
}

.current-project h2 {
font-size:18px;
margin:15px 0;
}

.current-project .project-info {
padding-left:0;
}

.current-project .project-info p {
padding:19px;
}

.documents {
margin:10px;
}

.documents h2 {
font-weight:700;
margin-bottom:8px;
}

.documents .folder {
float:left;
font-size:11px;
color:#999;
text-align:center;
}

.documents .folder + .folder {
margin-left:14px;
}

.documents .folder i {
font-size:64px;
color:#999;
}

.footer {
width:1000px;
height:70px;
position:relative;
margin:-70px auto 0;
}

#login-form {
padding-top:150px;
}

.logo-enter {
text-align:center;
padding-bottom:30px;
}

#login-form .form-wrap {
width:30%;
margin:0 auto;
}

#login-form h1 {
color:#1fa67b;
font-size:18px;
text-align:center;
font-weight:700;
padding-bottom:20px;
}

#login-form .form-group {
margin-bottom:25px;
}

#login-form .form-group.enter {
position:relative;
}

#login-form .checkbox {
margin-bottom:20px;
position:absolute;
top:0;
right:0;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

#login-form .checkbox.show:before {
content:"\f070";
font-family:FontAwesome;
color:#999;
position:absolute;
pointer-events:none;
}

.checkbox.show .fa-eye {
display:none;
}

#login-form .checkbox .character-checkbox {
width:25px;
height:25px;
cursor:pointer;
vertical-align:middle;
display:inline-block;
}

#login-form .checkbox .label {
color:#6d6d6d;
font-size:13px;
font-weight:400;
}

#login-form .btn.btn-custom {
font-size:14px;
margin-bottom:20px;
}

#login-form .forget {
font-size:13px;
text-align:center;
display:block;
}

.form-control {
color:#212121;
}

.btn-custom {
color:#fff;
background-color:#1abc9c;
}

.btn-custom:hover,.btn-custom:focus {
color:#fff;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
display:block;
}

.content thead,.checkbox .fa {
color:#999;
}

#myCanvas3,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
background:#1abc9c;
}